* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
}

#app {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: -50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 6px 12px -6px #232323;
  transition: 0.3s ease width, 0.3s ease height, 0.3s margin-top;
}

#app.active {
  width: 310px;
  height: 264px;
  margin-top: -130px;
}

#app:before,
#ytd-link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -65px;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(30px);
}

body,
#app:before,
#ytd-link:before {
  background-image: url(image.jpg);
}

#init-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  transition: 0.4s ease transform, 0.4s ease opacity;
  z-index: 1;
}

#app.active #init-btn {
  opacity: 0;
  transform: scale(0);
}

#init-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/1.gif);
  background-size: cover;
}

#init-btn.bg-1:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/1.gif);
}

#init-btn.bg-2:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/2.gif);
}

#init-btn.bg-3:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/3.gif);
}

#init-btn.bg-4:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/4.gif);
}

#init-btn.bg-5:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/5.gif);
}

#init-btn.bg-6:before {
  background-image: url(https://himalayasingh.github.io/mac-reactions/img/6.gif);
}

#heading {
  padding: 14px;
  padding-left: 84px;
  position: relative;
  font-size: 14px;
  height: 15px;
  line-height: 1;
  border-bottom: 1px solid #a0a0a0;
  background: #fff;
  background: rgba(255, 255, 255, 0.34);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(202, 202, 202, 0.7)
  );
  z-index: 1;
}

#btns {
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: #fd5754;
  cursor: pointer;
}

#btns:before,
#btns:after {
  content: "";
  position: absolute;
}

#btns:before {
  left: 20px;
  background-color: #febb40;
}

#btns:after {
  left: 40px;
  background-color: #34c848;
}

#btns,
#btns:before,
#btns:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#reactions {
  opacity: 0;
}

#app.active #reactions {
  animation: showReactions 0.3s ease 0.2s forwards;
}

@keyframes showReactions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#reactions-cover {
  opacity: 0;
  padding: 20px;
  overflow: hidden;
  transform: scale(1.2);
}

#app.active #reactions-cover {
  animation: showReactionsCover 0.2s ease 0.3s forwards;
}

@keyframes showReactionsCover {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.reaction {
  width: 80px;
  float: left;
  margin: 5px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px -1px #353535;
  cursor: pointer;
}

.reaction:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  background-color: #fff;
}

.reaction img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
